*.zip
*.log
Practice/
flames-app/
examproject/
Java_Concepts_Practice/target
*/target/**
CallingRestApis/
sootUpTutorial/
tests-with-spring/
feature-togglz/
gradle-demo/
selenium-with-java/
graphql-with-spring/
spring-designpatterns/
